<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

<div id="root"></div>
<div id="footer"><p>Powered by&nbsp;<strong><a href="https://github.com/darmou/ticketmule_react">TicketMule</a></strong></p></div>
<style>
  html {
      height: 100%;
  }
  body {
      margin: 0 !important;
      height: 100%;
  }
  #root {
    width: 100%;
    min-height: 100%;
    background-color: #f4f4ee;
    overflow-x: hidden;
  }
  #footer {
      position: relative;
      margin-top: -32px;
      height: 32px;
      background: #e6e6dc url(/images/shadow-trans.png) repeat-x top left;
      width: 100%;
      text-align: center;
      color: #333;
      font: 11px/16px Verdana,sans-serif;
  }
  #footer p {
      padding: 8px 8px 0 8px;
      margin: 0;
      color: #777;
      text-shadow: 0 1px 0 #fff;
  }

  #footer a {
      color: #777;
      text-decoration: none;
  }

  #footer a:hover {
       color: #90af4c;
       text-decoration: underline;
  }
</style>
