

.login {
  margin: 20px auto;
  width: 375px;

  h1 {
    color: #90af4c;
    padding: 15px 0 0 0;
    width: auto;
    text-align: center;
    font-family: "Trebuchet MS",Verdana,sans-serif;
    text-shadow: 0 1px 0 #fff;
  }

  .box {
    padding: 10px;
    margin: 30px 5px 5px 0;
    background: #fff;
    border: 1px solid #bbb;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-box-shadow: 2px 2px 3px #ddd;
    -webkit-box-shadow: 2px 2px 3px #ddd;

    form {
      margin: 0 0 5px 0;

      a:link, a:visited {
        color: #4d88cf;
      }
      .textfield {
        padding: 4px;
        background: #fff;
        border: 1px solid #ccc;
        font: 12px Verdana,sans-serif;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
      }

      .loginInputs {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAXFJREFUOBGVVDGKwkAUfZHFaBBS2riQSrC18QJpAvbeYAVbD6DxFm4TELyA1R7BKmUgjRa7pAwELKKF2XljEuMSN/HDZOb//96b+X+GKLZtW0mSrMV4Rw1TFOVbwD6Wy+UX4Y1XyCSkG31yTaNArZ1v8Nu3yGkUE1VrTdPQ7\/cfYC8JGIYB0zTLBVqtVp5QVRWiWblfzOXBdPHGeTweYzgcYrvdIgxDzGYzBEEAx3Eecn/J9F8qoUxAWSwWCRM8ZhzHEsMSzudzGT6PiRJ/hDPNT5CRiagiEyOusiemtewBA//ZZDLBYDDIIavVCtfrVYrUEmi324iiCPv9XoqQnFkjfduZXzpToNlsykdUJBNMgWmViO/78DwPuq7DsizwQWV2fy1ZJJ2z26Hb6XRwOp0wGo2kwG63g+u6ElmrB/P5XApQ6HK54HA4pNsATwV4z+lVYbPZoNvtys6zHDaURsxTAZFnb/ij6R2PR3AUjWRifgHmko6KAvVfRAAAAABJRU5ErkJggg==);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 16px 18px;
        background-position: 98% 50%;
      }

      dl {
        margin: 15px 10px;

        dt {
          float: left;
          width: 85px;
          font-size: 12px;
          line-height: 2.1em;
          text-align: right;
        }

        dd {
          margin: 0 0 5px 95px;
          line-height: 2em;
          color: #333;
        }
      }

      .password {
        cursor: pointer;
      }

      .button {
        margin: 3px 0;
        padding: 2px 12px 2px;
        width: auto;
        color: #839F45;
        font-size: 12px;
        font-family: verdana,sans-serif;
        font-weight: bold;
        cursor: pointer;
        -moz-border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        background: #fff;
        border-color: rgba(0,0,0,0.25) rgba(0,0,0,0.25) rgba(0,0,0,0.35);
        border-style: solid;
        border-width: 1px;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(255,255,255,0.65);
        outline: none;
        overflow: visible;
        display: inline;
        line-height: 14px;

        &:hover {
          background-color: #f4f4f4;
          color: #666;
        }
      }
    }
  }
}





